/* Start Variables*/

:root {
    --main-color: #7f5af0;
    --main-color-Alt: #6346B9;
    --section-color: #f6f6f6;
    --secandry-color: #2c4755;
    --paragraph-color: #94a1b2;
    --section-background: #16161a;
    --secandry-section-background: #242629;
    --main-transition: 0.3s;
    --main-padding-top: 100px;
    --main-padding-bottom: 100px;
    
}

/* Start Global Rules */

/* Start Global Rules */


* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    

}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Cairo', sans-serif;
}

.parent {
    background-color: #eee4ee;

}

.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;

}

li,
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

/* small */

@media (min-width: 768px) {
    .container {
        width: 750px;
    }

}

/* Medium */


@media (min-width: 992px) {
    .container {
        width: 970px;
    }

}

/* large */

@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }

}

/* End Global Rules */


/* Start component */


.paragraph {
    font-size: 20px;
    line-height: 1.7;
    margin: 5px 0 0;
    color: var(--paragraph-color);
    max-width: 500px;
}



/* End component */


/* Start Header */

.header {
    background-color: #3b3b46;
    padding: 15px 0;
    height: 75px;
}

.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header .logo {
    color: white;
    font-size: 35px;
    font-weight: bold;
}

.header .logo > i {
    font-size: 30px;
}

.header .main-list {
    display: flex;
    justify-content: end;
    align-items: center;
}

.header .main-list li > a {
    margin-left: 15px;
    color: white;
    font-size: 20px;
}



/* End Header */


.landing {
    position: relative;
    min-height: calc(100vh - 75px);
    background-image: url(../images/landing-image.jpg);
    background-size: cover;
    background-repeat: no-repeat;

}

.landing .heading {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%);
    text-align: center;
    margin: 0 auto;
    color: #eee4ee;
    opacity: 0.8;
}

/* Start Footer */

.footer {
    background-color: #3b3b46;
}

.footer .text {
    padding: 20px;
    color: white;
    text-align: center;
}

.footer .text span {
    font-size: 22px;
    color: #ff978f;
}


/* End Footer */






/*  Start Training Area  */

.btn {
    padding: 8px 5px;
    font-size: 18px;
    font-weight: bold;
    width: 100%;
    border-radius: 4px;
    letter-spacing: 2px;
    border: none;
    cursor: pointer;
    margin-bottom: 20px;

}


.training {
    padding-top: 40px;
    padding-bottom: 40px;
    min-height: 800px;
}

.training .main-title {
    margin: 0 0 40px;
    font-weight: bold;
    font-size: 30px;
    color: #8d8383;
    text-align: center;
    overflow: hidden;
}

.training .container {

}


.training .card {
    margin: 0 auto;
    padding: 20px;
    background-color: #ddd;
    border-radius: 8px;
    box-shadow: 1px 2px 10px 0px #ad9d9d;
    width: fit-content;
}

.card .product-img {
    transform: rotate(23deg) scale(2) translateY(-30px);
    width: 250px;
    max-width: 100%;

}

.card .product-heading {
    position: relative;
    font-size: 25px;
    margin: 25px 0  25px ;
}

.card .product-heading::after {
    content: '';
    position: absolute;
    width: 38px;
    height: 3px;
    background-color: red;
    bottom: -5px;
    left: 4px;
}


.card .price .currency {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;

}

.card .price .currency span {
    margin-right: 8px;
}

.card .price .btn  {

}

.card .price .btn:hover {
    outline: 2px solid #2c4755;
}


.wrapper {
    margin: 20px auto;
    padding: 20px;
    background-color: #ddd;
    border-radius: 8px;
    box-shadow: 1px 2px 10px 0px #ad9d9d;
    max-width: 680px ;
    text-align: center;
}

.wrapper span {
    display: block;
    font-size: 100px;
    margin: 15px 0;
}

.wrapper .joke-box {
    line-height: 2;
    font-size: 18px;
    font-weight: 400;
    padding: 10px;
    word-wrap: break-word;
    margin: 30px 0;
}

.wrapper .btn {
    width: 50%;
}

.wrapper .btn:hover {
    outline: 2px solid #6346B9;
}















/*  End Training Area  */